<%= turbo_stream.remove "comment_#{@comment.id}" %>

<%= turbo_stream.replace "recipe_#{@recipe.id}_comment_count" do %>
  <span id="recipe_#{@recipe.id}_comment_count"><%= @recipe.comments_count %></span>
<% end %>
