<%= turbo_stream.replace "recipe_#{@recipe.id}_like_button" do %>
  <%= button_to recipe_like_path(@recipe, locale: I18n.locale), method: :delete, id: "recipe_#{@recipe.id}_like_button", class: "recipe-card-modern__action-btn recipe-card-modern__action-btn--like recipe-card-modern__action-btn--liked action-btn-compact action-btn-compact--liked" do %>
    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
    </svg>
    <span class="recipe-card-modern__action-count"><%= @recipe.likes_count %></span>
  <% end %>
<% end %>
